In [4]:
import numpy as np
import random
import pandas as pd

In [39]:
istanbul_metro = {
    "M2": [
        "YENIKAPI", "VEZNECILER", "HALIC", "SISHANE", "TAKSIM",
        "OSMANBEY", "SISLI", "GAYRETTEPE", "LEVENT", "4 LEVENT",
        "SANAYI MAH.", "ITU", "ATATURK OTO SANAYI", "DARUSSAFAKA",
        "HACIOSMAN"
    ],
    "M3": [
        "BAKIRKOY IDO", "OZGURLUK MEYDANI", "INCIRLI", "HAZNEDAR", "ILKYUVA",
        "MOLLA GURANI", "KIRAZLI", "YENI MAHALLE", "MAHMUTBEY", "ISTOC",
        "IKITELLI SANAYI", "TURGUT OZAL", "SITELER", "BASAK KONUTLARI", "METROKENT",
        "ONURKENT", "SEHIR HASTANESI", "TOPLU KONUTLAR", "KAYASEHIR MERKEZ"
],
    "M4": [
        "KADIKOY", "AYRILIKCESME", "ACIBADEM", "UNALAN", "GOZTEPE",
        "YENISAHRA", "KOZYATAGI", "BOSTANCI", "KUCUKYALI", "MALTEPE",
        "HUZUREVI", "GULSUYU", "ESENKENT CEVIZLI", "HASTANE ADLIYE", "SOGANLIK",
        "KARTAL", "YAKACIK", "PENDIK", "TAVSANTEPE", "HASTANE",
        "YAYALAR", "KURTKOY", "SABIHA GOKCEN HAVALIMANI",
    ],
    "M5": [
        "USKUDAR", "FISTIKAGACI", "BAGLARBASI", "ALTUNIZADE", "KISIKLI",
        "BULGURLU", "UMRANIYE", "CARSI", "YAMANEVLER", "CAKMAK",
        "IHLAMURKUYU", "ALTINSEHIR", "IMAM HATIP LISESI", "DUDULLU", "NECIP FAZIL",
        "CEKMEKOY", "MECLIS", "SARIGAZI", "SANCAKTEPE", "SAMANDIRA MERKEZ"
    ],
    "M6": [
        "LEVENT  KONKORS", "NISPETIYE", "ETILER", "BOGAZICI"
    ],
    "M7": [
        "YILDIZ", "FULYA", "MECIDIYEKOY", "CAGLAYAN", "KAGITHANE",
        "NURTEPE", "ALIBEYKOY", "CIRCIR", "VEYSELKARANI", "YESILPINAR",
        "KAZIMKARABEKIR", "YENIMAHALLE", "KARADENIZ MAH.", "TEKSTILKENT", "ORUCREIS",
        "GOZTEPE", "MAHMUTBEY  HOL"
    ],
    "M8": [
        "BOSTANCI", "EMIN ALI PASA", "AYSE KADIN", "ICERENKOY", "KUCUKBAKKALKOY", "KAYISDAGI",
        "MEVLANA", "IMES", "MODOKO KEYAP", "DUDULLU", "HUZUR", "PARSELLER"
    ],
    "M9": [
        "ATAKOY", "YENIBOSNA", "COBANCESME", "29 EKIM CUMHURIYETIHLAS YUVA", "SANAYI", "MIMAR SINAN",
        "15 TEMMUZ", "HALKALI", "ATATURK MAHALLESI", "BAHARIYE", "MASKO", 
        "IKITELLI SANAYI", "ZIYA GOKALP MAH", "OLIMPIYAT"
    ],
    "M11": [
        "GAYRETTEPE", "KAGITHANE", "HASDAL", "KEMERBURGAZ", "GOKTURK", "IHSANIYE",
        "ISTANBUL HAVALIMANI", "KARGO TERMINALI", "TASOLUK", "ARNAVUTKOY HASTANE"
    ],

    "T5": [
        "EMINONU", "KUCUKPAZAR", "CIBALI", "FENER", "BALAT",
        "AYVANSARAY", "FESHANE", "EYUP TELEFERIK", "EYUP DEVLET HASTANESI", "SILAHTARAGA",
        "UNIVERSITE", "ALIBEYKOY", "ALIBEYKOY METRO", "CEP OTOGAR"],

    "T4": [
        "TOPKAPI", "FETIHKAPI", "VATAN", "EDIRNEKAPI", "SEHITLIK",
        "DEMIRKAPI", "TOPCULAR", "RAMI", "BEREC", "SAGMALCILAR",
        "CUKURCESME", "ALI FUAT BASGIL", "TASKOPRU", "KARADENIZ MAHALLESI", "KIPTAS VENEZIA",
        "CUMHURIYET", "BASTABYA", "HACI SUKRU", "YENIMAHALLE", "SULTANCIFTLIGI",
        "CEBECI", "MESCIDI SELAM"],

    "T1": [ 
        "KABATAS", "FINDIKLI", "TOPHANE", "KARAKOY", "EMINONU",
        "SIRKECI", "GULHANE", "SULTANAHMET", "CEMBERLITAS", "BEYAZIT",
        "LALELI", "AKSARAY", "YUSUFPASA", "HASEKI", "FINDIKZADE",
        "CAPA", "PAZARTEKKE", "TOPKAPI", "ATATURK OGRENCI YURDU", "MERKEZEFENDI",
        "AKSEMSETTIN", "MITHATPASA", "ZEYTINBURNU", "MEHMETAKIF", "KERESTECILER",
        "GUNGOREN", "AKINCILAR", "SOGANLI", "CAMI", "GUNESTEPE",
        "BAGCILAR"]
}

In [40]:
data = pd.read_csv('data/hourly_transportation_202409.csv')
data = data[data["line_name"].isin(["M2", "M3", "M4", "M5", "M6", "M7", "M8", "M9", "T1", "T4", "T5"])]
data = data[["transition_date", "transition_hour", "line_name", "number_of_passage", "station_poi_desc_cd"]]
data = data.rename(columns={"transition_date": "date", "transition_hour": "hour", "line_name": "line", "number_of_passage": "passenger_count", "station_poi_desc_cd": "station"})
data = data[data["hour"] >= 6]

# Remove unwanted words (KUZEY, GUNEY, DOGU, BATI) and numbers from the 'station' column
data['station'] = data['station'].str.replace(r'\b(KUZEY|GUNEY|DOGU|BATI)\b', '', regex=True)
#remove all digits and numbers at the end of the string
data['station'] = data['station'].str.replace(r'\b(T4|M3|M7|M9)\b', '', regex=True)
data['station'] = data['station'].str.replace(r'\s*\d+\s*$', '', regex=True)
data['station'] = data['station'].str.replace(r'[()\-/]', '', regex=True)  # Remove symbols: (), -, /
data['station'] = data['station'].str.strip()
data["station"] = data["station"].astype(str)

data = data[~data["station"].str.contains("SEYRANTEPE", na=False)]

data = data.groupby(['date', 'hour', 'line', 'station'], as_index=False)['passenger_count'].sum()
data = data.groupby(['hour', 'line', 'station'], as_index=False).agg({'passenger_count': 'mean'})

#cumulative sum of passenger_count shifted by 1 station
data['cum_passenger_count'] = data.groupby(['hour', 'line'])['passenger_count'].cumsum()
data['cum_passenger_count'] = data.groupby(['hour', 'line'])['cum_passenger_count'].shift(fill_value=0)

data

      hour line             station  passenger_count  cum_passenger_count
0        6   M2            4 LEVENT          546.125                0.000
1        6   M2  ATATURK OTO SANAYI           52.750              546.125
2        6   M2         DARUSSAFAKA           62.625              598.875
3        6   M2          GAYRETTEPE          328.375              661.500
4        6   M2           HACIOSMAN          294.250              989.875
...    ...  ...                 ...              ...                  ...
3487    23   T5               FENER           47.875              749.000
3488    23   T5             FESHANE           52.750              796.875
3489    23   T5          KUCUKPAZAR          106.250              849.625
3490    23   T5         SILAHTARAGA           21.875              955.875
3491    23   T5          UNIVERSITE           14.250              977.750

[3492 rows x 5 columns]

In [41]:
def calculate_passenger_count(data, hour, line, station):
    data = data[(data["hour"] == hour) & (data["line"] == line)]
    station_data = data[data["station"] == station]
    passenger_count = station_data["passenger_count"].iloc[0]
    total_passenger_count = sum(data["passenger_count"])
    cumsum_passenger_count = station_data["cum_passenger_count"].iloc[0]
    direction_2 = passenger_count * cumsum_passenger_count / (total_passenger_count-passenger_count)
    direction_1 = passenger_count-direction_2
    return direction_1, direction_2

In [42]:
data['direction_1'] = None
data['direction_2'] = None

for index, row in data.iterrows():
    direction_1, direction_2 = calculate_passenger_count(data, row['hour'], row['line'], row['station'])
    data.at[index, 'direction_1'] = direction_1
    data.at[index, 'direction_2'] = direction_2

data

,hour,line,station,passenger_count,cum_passenger_count,direction_1,direction_2
0,6,M2,4 LEVENT,546.125,0.000,546.125,0.0
1,6,M2,ATATURK OTO SANAYI,52.750,546.125,47.436569,5.313431
2,6,M2,DARUSSAFAKA,62.625,598.875,55.694953,6.930047
3,6,M2,GAYRETTEPE,328.375,661.500,286.164587,42.210413
4,6,M2,HACIOSMAN,294.250,989.875,238.022845,56.227155
...,...,...,...,...,...,...,...
3487,23,T5,FENER,47.875,749.000,9.894462,37.980538
3488,23,T5,FESHANE,52.750,796.875,7.996041,44.753959
3489,23,T5,KUCUKPAZAR,106.250,849.625,4.333369,101.916631
3490,23,T5,SILAHTARAGA,21.875,955.875,0.321318,21.553682
3491,23,T5,UNIVERSITE,14.250,977.750,0.0,14.25

In [43]:
NUM_LINES = 5  # example number of metro lines
POPULATION_SIZE = 50
GENERATIONS = 100
FREQ_BOUNDS = (2, 10) 
STOP_TIME_BOUNDS = (20, 90)  # Seconds

w1, w2, w3, w4 = 1.0, 3.0, 1.5, 1.2
w1 = 115 # 50% of the average houry wage in turkey 2025

In [ ]:
def cost_function(frequency, stop_time, line_data):
    op_cost = 0

    for date in line_data:
        for hour in line_data[date]:
            op_cost += frequency * OPERATIONAL_COST
            for station in line_data[date][hour]:
                station_passenger = line_data[date][hour][station][direction_1]
                metro_passenger = line_data[date][hour][station][cum_direction_1]

                wait_cost = station_passenger * frequency/2 + stop_time + metro_passenger * stop_time
                unserved_cost = (station_passenger - (max_capacity - cum_direction_1)) * unserved_cost 
                # cum_direction_1 is number of passengers when train reaches the station number of available places for ht new passengers is calculated as
                # max_capacity - cum_direction_1 and the remaining passengers are unserved
                density_cost = cum_direction_1 * density_cost 
                # because the cum_direction_1 is the number of passengers in the train harm of the density affects until the next station
                standing_cost = (cum_direction_1 - max__seat_capacity) * standing_cost

    return op_cost + wait_cost + unserved_cost + density_cost + standing_cost

In [45]:
def initialize_population():
    population = []
    for _ in range(POPULATION_SIZE):
        frequencies = [random.randint(*FREQ_BOUNDS) for _ in range(NUM_LINES)]
        stop_times = [random.randint(*STOP_TIME_BOUNDS) for _ in range(NUM_LINES)]
        population.append((frequencies, stop_times))
    return population

In [46]:
def select_population(population, fitnesses):
    sorted_pop = [x for _, x in sorted(zip(fitnesses, population))]
    return sorted_pop[:POPULATION_SIZE // 2]

In [47]:
def crossover(parents):
    offspring = []
    while len(offspring) < POPULATION_SIZE:
        p1, p2 = random.sample(parents, 2)
        point = random.randint(1, NUM_LINES - 1)
        new_freq = p1[0][:point] + p2[0][point:]
        new_stop = p1[1][:point] + p2[1][point:]
        offspring.append((new_freq, new_stop))
    return offspring

In [48]:
def mutate(individual, mutation_rate=0.1):
    for i in range(NUM_LINES):
        if random.random() < mutation_rate:
            individual[0][i] = random.randint(*FREQ_BOUNDS)
        if random.random() < mutation_rate:
            individual[1][i] = random.randint(*STOP_TIME_BOUNDS)
    return individual

In [49]:
def run_genetic_algorithm(passenger_data):
    population = initialize_population()
    for generation in range(GENERATIONS):
        fitnesses = [cost_function(freqs, stops, passenger_data) for freqs, stops in population]
        best = min(fitnesses)
        print(f"Generation {generation} - Best Cost: {best}")
        selected = select_population(population, fitnesses)
        offspring = crossover(selected)
        population = [mutate(ind) for ind in offspring]
    return population[np.argmin(fitnesses)]

In [50]:
best_solution = run_genetic_algorithm(mock_passenger_data)
print("Best Solution:", best_solution)

NameError: name 'mock_passenger_data' is not defined